<div class="container ">
    <div class="row">
        <h3 class="text-lg-center font-weight-bold main-logo">
            Captain's Log
          {{fa-icon "asterisk" spin=true}}
        </h3>
    </div>
    <div class="row">
        <img src="http://lorempixel.com/200/200/" class="img-circle img-fluid center-block profile-picture"
             alt="Süleyman ŞAHİN">
    </div>
    <div class="row">
        <hr class="separator"/>
    </div>
    <div class="row">
        <ul class="nav text-lg-center">
            <li class="nav-item">
              {{#link-to "index" class="nav-link"}}
                  <h2>Home</h2>
              {{/link-to}}
            </li>
            <li class="nav-item">
              {{#link-to "about" class="nav-link"}}
                  <h2>About</h2>
              {{/link-to}}
            </li>
            <li class="nav-item">
              {{#link-to "index" class="nav-link"}}
                  <h2>Contact</h2>
              {{/link-to}}
            </li>
            <li class="nav-item">
              {{#link-to "index" class="nav-link"}}
                  <h2>Blog</h2>
              {{/link-to}}
            </li>
        </ul>
    </div>
    <div class="row">
        <hr class="separator"/>
    </div>
    <div class="row">
        <div class="text-lg-center description">
            This site is my tutorials, rantings and musings on software development.
        </div>
    </div>
    <div class="row">
      <div class="container social-media-buttons">
          <ul class="nav nav-inline">
              <li class="nav-item">
                  <a class="nav-link" href="https://github.com/suleymansahin07" target="_blank">
                    {{fa-icon "github" size=2}}
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="https://tr.linkedin.com/in/suleymansahin07" target="_blank">
                    {{fa-icon "linkedin" size=2}}
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="https://twitter.com/slymnshn07" target="_blank">
                    {{fa-icon "twitter" size=2}}
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="https://soundcloud.com/suleyman07" target="_blank">
                    {{fa-icon "soundcloud" size=2}}
                  </a>
              </li>
          </ul>
      </div>
    </div>
</div>